html { height: 100% }
::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }
body { 
    background-color:aliceblue;
}

.login {
  border: 1px solid #42464b;
  border-radius: 9px;
  height: 316px;
  margin: 20px auto 0;
  width: 500px;
}

.trans{  
  border: 1px solid #42464b;
  border-radius: 9px;
  height: 316px;
  margin: 20px auto 0;
  width: 500px;
}

.withd{
     width:500px;
    border: 1px solid #42464b;
  border-radius: 9px;
  height: 250px;
  margin: 20px auto 0;
  text-align: center; 
}

.depo{
  width:500px;
  border: 1px solid #42464b;
  border-radius: 9px;
  height: 250px;
  margin: 20px auto 0;
  text-align: center; 
}

.reg{
    width:500px;
    border: 1px solid #42464b;
  border-radius: 9px;
  height: 390px;
  margin: 20px auto 0;
  text-align: center;  
}
.c{
    text-align: center;
}
.home{
    width:500px;
    border: 1px solid #42464b;
  border-radius: 0px;
  height: 220px;
  margin: 20px auto 0; 
}

.home label{
    text-align: center;
}
.icon h1{
    text-align: center;
    font-size:40px;
}
ul {
    
   
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-left: 38%;
}

li {
    float: left;
}


li a {
    display: block;
    color:mediumblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
    font-size: 25px;
   
}

li a:hover:not(.active) {
    color:crimson;
}

.active {

     color:darkblue;
    font-weight: bold;
}


.f2 label{
 padding-left: 37px;
}
.f1 label{
 padding-left: 37px;
}

.f5 label{
    padding-left: 37px;
}

.f6 label{
     padding-left: 37px;
}

.f7 label{
padding-left: 37px;
}

.login h1 {
  background:#3498db;
  border-bottom: 1px solid #a6abaf;
  border-radius: 6px 6px 0 0;
  box-sizing: border-box;
  color: #727678;
  display: block;
  height: 43px;
  font: 600 14px/1 'Open Sans', sans-serif;
  padding-top: 14px;
  margin: 0;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2), 0 1px 0 #fff;
}
input[type="password"], input[type="text"],input[type="email"] {
  background: url('http://i.minus.com/ibhqW9Buanohx2.png') center left no-repeat, linear-gradient(top, #d6d7d7, #dee0e0);
  border: 1px solid #a1a3a3;
  border-radius: 4px;
  box-shadow: 0 1px #fff;
  box-sizing: border-box;
  color: #696969;
  height: 39px;
  margin: 31px 0 0 29px;
  padding-left: 37px;
  transition: box-shadow 0.3s;
  width: 240px;
}
.f1 h6{
      margin: 5px 0px;
    font-size: 25px;
    left: 40%;
    position: relative;
    padding: 5px;
   
    margin-top:;
}
.f2 h6{
     margin: 5px 0px;
    font-size: 25px;
  
    padding: 5px;
    margin-top:;
}
.f3 h6{
     margin: 5px 0px;
    font-size: 25px;
    left: 35%;
    position: relative;
    padding: 5px;
   
    margin-top:;
}
.f4 h6{
     margin: 5px 0px;
    font-size: 25px;
    left: 39%;
    position: relative;
    padding: 5px;
   
    margin-top:;
}

.f5 h6{
       margin: 5px 0px;
    font-size: 25px;
    left: 33%;
    position: relative;
    padding: 5px;
   
    margin-top:;
}

.f6 h6{
   margin: 5px 0px;
    font-size: 25px;
    left: 1%;
    position: relative;
    padding: 5px;
   
    margin-top:;
}

.f7 h6{
margin: 5px 0px;
    font-size: 25px;
    left: 3%;
    position: relative;
    padding: 5px;
   
    margin-top:;
}

input[type="password"]:focus, input[type="text"]:focus {
  box-shadow: 0 0 4px 1px rgba(55, 166, 155, 0.3);
  outline: 0;
}

input[type="checkbox"]:checked + .toggle { background-position: 0 -16px }
.forgot {
  color: #7f7f7f;
  display: inline-block;
  float: right;
  font: 12px/1 sans-serif;
  left: -19px;
  position: relative;
  text-decoration: none;
  top: 5px;
  transition: color .4s;
}


.depo input[type="submit"]{
    left: 35%;
}

.withd input[type="submit"]{
    left: 35%;
}

.trans input[type="submit"]{
    left: 35%;
}

.forgot:hover { color: #3b3b3b }
input[type="submit"] {
  width:140px;
  height:35px;
  display:block;
  font-family:Arial, "Helvetica", sans-serif;
  font-size:16px;
  font-weight:bold;
  color:black;
  text-decoration:none;
  text-transform:capitalize;
  text-align:center;
  
  padding-top:6px;
  left:30%;
  margin: 29px 0 0 29px;
  position:relative;
  cursor:pointer;
  border: none;  
  background-color:darkgray;
  background-image: linear-gradient(top,#3db0a6,#3111);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius:5px;
  
}


.shadow {
  background: #000;
  border-radius: 12px 12px 4px 4px;
  box-shadow: 0 0 20px 10px #000;
  height: 12px;
  margin: 30px auto;
  opacity: 0.2;
  width: 270px;
}


input[type="submit"]:active {
  top:3px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #31524d, 0px 5px 3px #999;
}